<!doctype html>
<head lang="en-US">
    <meta charset="utf-8">
    <title>Yamls</title>
</head>
<body>
    {% include "home/nav.html" %}
    <h1>YAMLs</h1>
    {% for yaml in user.user_yamls_set.all %}
        <fieldset>
            <p>{{ yaml.game_name }} {{ yaml.slot }}</p>
            <p>{{ yaml.description }}</p>
            <button>Download</button>
            <a href="{% url 'user_yamls:del' yaml.id %}">
                Delete
            </a>
        </fieldset>
    {% endfor %}
    <a href="{% url 'user_yamls:yaml_form' %}">Add a YAML</a>
</body>