<!DOCTYPE html>
<html>
    <head lang="en-US">
        <meta charset="utf-8">
        <title>Add a yaml</title>
    </head>
    <body>
        {% include "home/nav.html" %}
        <form action="{% url 'user_yamls:submit_yaml' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="slot_name">Slot Name</label>
                <input type="text" name="slot_name" id="slot_name" value="{{ slot_name }}" required>
            </fieldset>
            <fieldset>
                <label for="game_name">Game Name</label>
                <input type="text" name="game_name" id="game_name" value="{{ yaml_game_name }}" required>
            </fieldset>
            <fieldset>
                <label for="description">Description</label>
                <input type="text" name="description" id="description" value="{{ yaml_description }}">
            </fieldset>
            <fieldset>
                <label for="game_options">Randomizer Options</label>
                <input type="text" name="game_options" id="game_options" value="{{ yaml_game_options }}" required>
            </fieldset>
            {% if yaml_id is not None %}
                <input type="submit" name="submit_type" value="Save changes" formaction="{% url 'user_yamls:submit_yaml' yaml_id%}">
                <input type="submit" name="submit_type" value="Save as new YAML" formaction="{% url 'user_yamls:submit_yaml' %}">
            {% else %}
                <input type="submit" name="submit_type" value="Save" formaction="{% url 'user_yamls:submit_yaml' %}">
            {% endif %}

        </form>
    </body>
</html>