<!DOCTYPE html>
<html>
    <head lang="en-US">
        <meta charset="utf-8">
        <title>Lobby</title>
    </head>
    <body>
        {% include "home/nav.html" %}
        <h1>Lobbies</h1>
        <a href="{% url 'Lobby:lobby_form' %}">
            Host a new Lobby
        </a>
        {% for lobby in lobbies %}
            <div class="lobby-card">
                {% include "Lobby/lobby_info.html" %}
                <br>
                <a href="{% url 'Lobby:view_lobby' lobby.id %}">View Lobby</a>
                <br>
                <a href="{% url 'Lobby:delete_lobby' lobby.id %}">
                    Delete
                </a>
                <br>
                <a href="{% url 'Lobby:start_lobby_join' lobby.id %}">
                    Join
                </a>
                <br>
                <a href="{% url 'Lobby:lobby_form' lobby.id %}">Edit Lobby</a>
            </div>
        {% endfor %}
    </body>

    <style>
        .lobby-card {
            border: 2px solid;
            border-color: black;
            margin: 2px;
        }
    </style>
</html>