{% load guardian_tags %}
<!DOCTYPE html>
<html>
    <head lang="en-US">
        <meta charset="utf-8">
        <Title>{{ lobby.name }} Details</Title>
    </head>
    <body>
        {% include 'home/nav.html' %}
        {% include 'Lobby/lobby_info_comp.html' %}
        <a href="{% url 'Lobby:add_slot_form' lobby.id %}">
            Add a slot
        </a>
        {% for slot in slots %}
            <fieldset>
                <p>Game: {{ slot.slot_id.game_name }}</p>
                <p>Description:</p>
                <p>{{ slot.slot_id.description }}</p>
                <p>Randomizer Settings:</p>
                <p>{{ slot.slot_id.game_options }}</p>
            </fieldset>
            {% get_obj_perms request.user for slot as "slot_perms" %}
            {% if "delete_slot" in slot_perms %}
                <a href="{% url 'Lobby:delete_slot' slot.id %}">
                    Remove Game
                </a>
            {% endif %}
            {% if "change_slot" in slot_perms %}
                <a href="{% url 'Lobby:edit_slot' slot.id %}">
                    Edit Game Settings
                </a>
            {% endif %}
        {% endfor %}
    </body>
</html>