{% load guardian_tags %}
<!DOCTYPE html>
<html>
    <head lang="en-US">
        <meta charset="utf-8">
        <Title>{{ lobby.name }} Details</Title>
    </head>
    <body>
        {% include 'home/nav.html' %}
        {% include 'Lobby/lobby_info_comp.html' %}
        {% for conn in conns %}
            <fieldset>
                <p>Game: {{ conn.player_yaml.game_name }}</p>
                <p>Description:</p>
                <p>{{ conn.player_yaml.description }}</p>
                <p>Randomizer Settings:</p>
                <p>{{ conn.player_yaml.game_options }}</p>
            </fieldset>
            {% get_obj_perms request.user for conn as "conn_perms" %}
            {% if "delete_lobbyconnection" in conn_perms %}
                <a href="{% url 'Lobby:delete_connection' conn.id %}">
                    Remove Game
                </a>
            {% endif %}
            {% if "change_lobbyconnection" in conn_perms %}
                <a href="{% url 'Lobby:edit_connection' conn.id %}">
                    Edit Game Settings
                </a>
            {% endif %}
        {% endfor %}
    </body>
</html>